rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // siteContentコレクションに対するルール
    match /siteContent/{document=**} {
      // 誰でも読み取りは許可
      allow read;
      // 書き込みはログインしているユーザーのみ許可
      allow write: if request.auth != null;
    }
  }
}