rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /images/{allPaths=**} {
      // 警告: 誰でも画像の読み書きを許可する一時的なルール
      allow read, write;
    }
  }
}